services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comfyui
    command: >
      python main.py
      --listen 0.0.0.0
      --port 8188
      --cpu
    ports:
      - "8188:8188"
    volumes:
      - /var/comfyui/models:/app/models
      - /var/comfyui/output:/app/output
      - /var/comfyui/custom_nodes:/app/custom_nodes
      - /var/comfyui/user:/app/user
    restart: unless-stopped
