services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comfyui
    command: >
      python main.py
      --listen 0.0.0.0
      --port 8188
      --cpu
    ports:
      - "8188:8188"
    volumes:
      - .models:/app/models
      - .output:/app/output
      - .custom_nodes:/app/custom_nodes
      - .user:/app/user
    restart: unless-stopped
