services:
  comfyui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: comfyui
    command: >
      python main.py
      --listen 0.0.0.0
      --port 8188
      --cpu
    ports:
      - "8188:8188"
    volumes:
      - ../data/models:/app/models
      - ../data/output:/app/output
      - ../data/custom_nodes:/app/custom_nodes
      - ../data/user:/app/user
      - ../data/input:/app/input
    restart: unless-stopped
